.account-management-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-top: 1%;
  font-family: Arial, sans-serif;
}

.form-container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

.custom-form {
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-title {
  text-align: center;
}

.form-label {
  display: block;
  margin: 2% 0;
}

.form-input,
.form-datetime,
.form-select {
  width: 100%;
  padding: 2%;
  margin: 1% 0;
  box-sizing: border-box;
}

.form-button {
  width: 100%;
  padding: 3%;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #45a049;
}

.form-divider {
  margin: 5% 0;
}