.env-body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  margin: 0;
  background-color: #ecf0f1;
  padding: 20px;
}

.env-title {
  color: #3498db;
  margin-bottom: 20px;
}

.data-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.data-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin-bottom: 20px;
}
